<!DOCTYPE html>
<html>
    <head>
    </head>
    
    <body>
        <h1>State Capital API</h1>

        <form action="#">
            Enter State:<br>
            <input type="text" name="firstname" value="State">
            <br><br>
            <input type="submit" value="Submit">
        </form>
        
        <p>All items will be returned in a JSON object. Valid endpoints:</p>
        <ul>
            <li>/api returns all state capitals</li>
            <li>/api/{insert state} returns capital of input state</li>
        </ul>
    </body>
</html>
