<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    </head>
    
    <body>
        <div class="center">
            <h1>State Capital API</h1>

            <form class="form-inline" action="/accept", method="POST">
                <input type="text" placeholder="Enter State" name="state" value="">
                <br><br>
                <input class="button" type="submit">
            </form>
            
            <p>All items will be returned in a JSON object. Valid endpoints:</p>
            <ul>
                <li>www.capitals-api.herokuapp.com/api</li>
                <li>www.capitals-api.herokuapp.com/api/{insert state}</li>
            </ul>
        </div>
    </body>
</html>
